<?xml version='1.0'?>
<!DOCTYPE fontconfig SYSTEM 'fonts.dtd'>
<fontconfig>
 <!-- Default font for the Arabic language (no fc-match pattern) -->
 <match>
  <test name="lang" compare="contains">
   <string>ar</string>
  </test>
  <edit name="family" mode="prepend">
   <string>SF Arabic</string>
  </edit>
 </match>
 <alias>
  <family>SF Arabic</family>
  <prefer>
   <family>SF Arabic</family>
  </prefer>
 </alias>
 <alias>
  <family>Iosevka Nerd Font Mono</family>
  <prefer>
   <family>Iosevka Nerd Font Mono</family>
  </prefer>
 </alias>
 <alias>
  <family>Iosevka Nerd Font Mono</family>
  <prefer>
   <family>Iosevka Nerd Font Mono</family>
  </prefer>
 </alias>
</fontconfig>

